body{
    background: black;
    color: white
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin:0 auto;
    width: 80%;
  }
  
  td, th {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    text-align: left;
  margin: 0;
  padding: 10px;
  width: 20%;
  }

.starts{
    background: url("https://images.unsplash.com/photo-1644329968124-4c…3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60")
}