#CryptoHeader{
  background-color:rgb(3, 3, 3);
  position: sticky;
  top:0;
}

.CryptoHeader{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:0 auto;
  width:90%;
  color:white;
  
}
ul{
  display:flex;
}
ul li{
  padding:10px;
  list-style:none;
}
ul li a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}
#searchCrypto{
 width:100%;
 padding: 10px;
 border-radius:10px;
 color:white;
 outline:none;
 background: transparent;
 border:1px solid grey;
}
@media (max-width: 600px) {
  .CryptoHeader h3{
    display: none;
  }

  .CryptoHeader input {
    width: 50%;
  }

  .CryptoHeader form ul{
    display: none;
  }
  /* body {
    background-color: #87ceeb;
  } */
}